
<div class="row">
  <div class="large-6 medium-centered columns">
    <div class="new-edit-form">
    <h1 class ="text-center user-head">Edit picture</h1>
    <hr>
    
    <%= form_for @picture do |f|%>

      <p>
        <%= f.label :artist %><br>
        <%= f.text_field :artist %>
      </p>

      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :url %><br>
        <%= f.text_field :url %>
      </p>

      <p>
        <%= f.label :category %><br>
        <%= f.select(:category_id, [['Landscape', 1],['Portrait', 2],['Meme', 3],['Still-life', 4],['Food', 5],['Animals', 6], ['Fashion', 7], ['Vintage',8], ['Graphics',9]])%>
      </p>

      <p>
        <%= f.submit "save", :class => "button" %>
      </p>
    <% end %>
  </div>
</div>
 