	
 
<div class="row">

	<div class="large-12 large-centered columns">
		<h1 class="text-center index-head"><%= @picture[:title]%></h1>
		
	</div>
		
</div>

<div class="row">
	<div class="large-12 columns">
		<div class="row">
			
	
		<div class="large-10 large-centered columns">
			<%= image_tag @picture.url, :class => "image" %>

			<div class="panel show-panel">
      	<p><%= @picture[:artist] %></p>
      	<ul class="inline-list">
      		<li><%= link_to "Edit", edit_picture_path(@picture) %></li>
          <li><%= link_to "Delete", @picture, :confirm => "Are you sure you want to delete this picture?", :method => :delete %></li>     	
      	</ul>
				 
    	</div>
		</div>
	</div>
		
	</div>
</div>

     