	
 
<div class="row">

	<div class="large-12 large-centered columns">
		<h1 class="text-center index-head"><%= @picture[:title]%></h1>
		
	</div>
		
</div>

<div class="row">
	<div class="large-12 columns">
		<div class="row " id="pictures">
			
	
		<div class="large-10 large-centered columns" id="picture">
			<%= image_tag @picture.url, :class => "image" %>

			<div class="panel show-panel">
      	<p>Artist: <%= @picture[:artist] %></p>
      	<!-- <p>Posted by: <%#= @picture_owner %></p> -->
      	<p>Category: <%= @category.name %></p>
      	<ul class="inline-list">
      		<% if current_user %>
	          <li>
	          	<% if current_user.id == @picture.user.id %>
	          		<li><%= link_to "", edit_picture_path(@picture), :class =>"fa fa-pencil" %></li>
								<li><%= link_to "", @picture , :method => :delete, :class =>"fa fa-trash-o", data: {confirm: "Are you sure you want to delete your picture?"} %></li>
							<% else %>
								<p></p>
							<% end %>
						</li> 
					<% else %>
						<li></li> 
					<% end %>   	
      	</ul>
				 
    	</div>
		</div>
	</div>
		
	</div>
</div>

<div>
	
	</div>
		<div class="row comments-panel">
			<div class="large-12 large-centered columns">

				<% if current_user %>
					<div class="row comments-header">
						<div class="large-12 large-centered columns">
							<h3 class="text-center">Comments</h3>
						</div>
					</div>
					<div id='comment-list'>
						<%= render :partial => 'comments' %>
					</div>
				<% end %>

			<%if current_user %>
				<div class="row">
					<div class="large-12 columns">

						<div class="row">
							<div class="large-12 columns new-comment-header">
								<h3>New Comment</h3>
							</div>
						</div>
						

						<div class="row">
							<div class="large-11 columns new-comment-input">
								<%= form_for ([@picture, @comment]), :id => 'comment-form', :remote => true do |f| %>
									<% if @comment.errors.any? %>
										<div id="error_explanation">
											<h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

				        			<ul>
				        				<% @review.errors.full_messages.each do |msg| %>
				          				<li><%= msg %></li>
				       					<% end %>
				        			</ul>
			      				</div>
			    				<% end %>
									<div class="picture-comment-form">
							    	<div class="field">
						      		<%= f.label :comment, :id => 'comment-label' %><br />
						      		<%= f.text_area :description, :id=> 'comment-box'%>
						    		</div>
						    		<div class="actions">
						      		<%= f.submit 'post', :class => 'button save-button' %>
						    		</div>
									</div>
			  				<% end %>
			  			</div>
		    		</div>

					</div>
		    </div>

			<% else %>
		  	<p>Please <%= link_to "log in", new_session_path %> to add a comment.</p> 
			<% end %>


			</div>
		</div>


     