<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:700|Varela+Round|Hammersmith+One|Nobile:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito:700|Maven+Pro:900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

    
     <div class="sticky">

 
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
               
              <li class="name">
                <div class="logo-container">
                  <h1 id="app-logo"><%= link_to "Photogur", root_path %></h1>
                </div>
              </li>
              <li class="toggle-topbar icon"><a href="#"><span>menu</span></a></li>
            </ul>
         
          <section class="top-bar-section right-navigation-container">
            <ul class="right">
              <li class="has-form">
                <%= form_tag pictures_path, :method => 'get' do %>
                  <div class="row collapse">
                    <div class="large-8 small-9 columns">
                      <%= text_field_tag :search, params[:search], :placeholder => 'Find pictures' %>
                  
                    </div>  
                    <div class="large-4 small-3 columns">
                      <%= submit_tag "search", :name => nil, :class => 'button ' %>
                    </div>
                  </div>
                <% end %>
                  
                 
        
              <% if current_user %>

                <li><%= link_to 'Profile', user_path(current_user), :class => "links"%></li>
                <li><%= link_to 'Log out', log_out_path%></li>
              <% else %>

                <li><%= link_to "Login", new_session_path, :class => "links"%></li>

                <li><%= link_to "Sign up", new_user_path, :class => "links"%></li>

              <% end %>
            </div>
          </li>

        </ul>
      </section>
    </nav>
  </div>

    <%= yield %>
    <%# if current_user %>
        <!-- Signed in as <%#= current_user.email %>. <%#= link_to "Log out", session_path("current"), :method => :delete %> -->
      <%# else %>
        <!-- <%#= link_to "Log in", new_session_path %> or <%#= link_to "Sign up", new_user_path %> -->
      <%# end %>
      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">
 
            <div class="large-6 columns">
              <p>
                <% if current_user %>
                  Logged in as :<%= current_user.name %>
                <% end %>
              </p>
            </div>
 
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><%= link_to "About" %></li>
                <li><%= link_to "FAQ" %></li>
                <li><%= link_to "Contact"%></li>
                <%#= link_to "Delete", @picture, :confirm => "Are you sure you want to delete this picture?", :method => :delete %>
              </ul>
            </div>
 
          </div>
        </div>
      </footer>

    <%= javascript_include_tag "application" %>

  </body>
</html>